:root {
  --cols: 16;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 960px;
  width: 960px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.cell {
  display: flex;
  flex: 0 0 calc(100% / var(--cols));
  border: 1px solid rgb(183, 183, 183);
}
